<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cliente</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

<form class="form-container" th:action="@{/cliente}" th:object="${formBean}" method="get">
    
    <h2>Buscar Cliente</h2>
    <div>
        <input type="text" id="dni" name="dni" placeholder=" " th:field="*{dni}">
        <label for="dni">Ingrese DNI del cliente</label>
    </div>

    
    <!-- Add a hidden field for 'action' -->
    <input type="hidden" name="action" value="Buscar">
    
    <button type="submit" th:action="@{/cliente}">Buscar</button>
</form>


</body>
</html>
