<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buscar Cliente</title>
	<link rel="stylesheet" href="estilos.css">
</head>

<body>
	<section>
		<h2>Buscar Cliente</h2>
		<form class="form-container" th:action="@{/cliente}" th:object="${formBean}" method="get">
			<div>
				<label>Ingrese DNI del cliente
					<input type="tel" placeholder=" " th:field="*{dni}" pattern="[0-9]*" required>
				</label>
			</div>

			<button>Buscar</button>
			<a th:href="@{/}" >Atras</a>
			
		</form>
	</section>

</body>

</html>