<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>TUTI 2023</title>
	<link rel="icon" type="image/jpg" href="./img/comp.png">
</head>

<body>
	<header>


		<h1>Desarrollo de Sistemas de Información - TP Integrador </h1>
		<nav>
			<a th:href="@{vuelos}">Registrar un vuelo</a><br><br>

			<a th:href="@{vuelos/registro}">Listar y filtrar vuelos</a><br><br>	
			
			<a th:href="@{clientes}">Buscar cliente por DNI</a><br><br>	
			
		</nav>
	</header>
	<footer>
		<p>&copy; 2023 UTN - FRSF</p>
	</footer>
</body>

</html>